/* @font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  src: local('Ubuntu') url(http://example.com/fonts/ubuntu.woff) format('woff');
} */

.div {
  background-color: #fff;
  margin: auto;
  width:fit-content;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 20px;
  border-radius: 30px;
  text-align: center;
  align-items: center;
}

.fieldset {
  border: 0;
}

.label {
  color: black;
}