.container {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "searchicon searchinput filterbutton date calendarbutton";
    grid-gap: 15px;

    background-color: #FFF;
}

.searchicon {
    background-image: url(../../icons/search.png);
    grid-area: searchicon;
}

.searchinput {
    grid-area: searchinput;

    border: none;
}

.filterbutton {
    background-image: url(../../icons/filter-filled-tool-symbol.png);
    grid-area: filterbutton;

    width: 30px;
    height: 30px;
    background-size: cover;
    background-color: transparent;
    border: none;
}

.date {
    grid-area: date;
}

.calendarbutton {
    grid-area: calendarbutton;

    height: 30px;
    width: 100px;
    background-size: cover;
    background-color: transparent;
    border: none;
}