.searchinput {
    background-color: #FFF;
    color: #000;
    border: 1px solid #8D150B;
  
    font-size: 20px;
    padding: 5px 40px;
    border-radius: 30px;
}

.filterbutton {
    width: 30px;
    height: 30px;
    background-image: url(../../icons/filter-filled-tool-symbol.png);
    background-size: cover;
    background-color: transparent;
    border: none;
}