.header {
    background-color: #fff;
    width: auto;
    margin: 0 auto;
    padding: 0 15px;
}

.headerwrap {
    display: grid;
    grid-template-columns: 4fr 8fr 2fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "logo searchinput . notificationbutton profilebutton";
}

.logo {
    grid-area: logo;
}

.searchinput {
    grid-area: searchinput;
}

.notificationbutton {
    width: 30px;
    height: 30px;
    background-image: url(../../icons/bell.png);
    background-size: cover;
    background-color: transparent;
    border: none;

    grid-area: notificationbutton;
}

.profilebutton {
    grid-area: profilebutton;
}