.calendarpagewrapper {
    display: grid;

    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 40px;
    grid-template-areas: ". calendar workspace";

    padding: 40px;
}

.header {
    grid-area: header;
    
}

.calendarlist {
    grid-area: calendar;
}

.workspacelist {
    grid-area: workspace;
    background-color: yellow;
}