.input {
  background-color: #FFF;
  color: #000;
  border: 1px solid #8D150B;

  font-size: 20px;
  padding: 5px 40px;
  border-radius: 30px;
}

.h5 {
  padding: 0px 0px;
  margin: 10px 10px 10px 20px;
}

.label {
  padding: 0px 0px;
  margin: 10px 10px 10px 20px;
}

.button {
  background-color: #8D150B;
  color: #FFF;
  border: 2px solid #8D150B;

  font-size: 26px;
  padding: 5px 40px;
  border-radius: 30px;

  margin-top: 40px;
}

.fieldset {
  border: 0;
}